<!DOCTYPE html>
<html>
  <head>
    <title>FrontEnd Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Nav_Container">
      <div class="Nav_Container_Wrapper">
        <div class="Nav_Container_Wrapper-Logo">
             <div class="Nav_Container_Wrapper_Logo-image">
                 <img src="../images/1_psYl0y9DUzZWtHzFJLIvTw-removebg-preview.png" alt="">
             </div>
             <div class="Nav_Container_Wrapper_Title"><h2>Dev Community</h2></div>
        </div>
        <div class="Nav_Container_Wrapper_links">
             <a href="">Our Story</a>
             <a href="">MemberShip</a>
             <a href="">Write</a>
             <a href="/login" title="login" >Sign In</a>
             <a href="/register" id="registerButton" title="register">Get Started</a>
        </div>
      </div>
    </div>
    <div class="Main_Part">
       <div class="Main_Part-Wrapper">
          <div class="Main_Part_Wrapper_Content-Heading">
             <div class="Main_Part_Wrapper_Content_Heading_Holder">
              <h1>Stay Curious</h1>
              <p>Discover stories, thinking, and expertise from writers on any topic.</p>
              <a href="/login">Start Reading</a>
             </div> 
          </div>
          <div class="Main_Part_Wrapper_Content-Image">
            <img src="../images/photo-1522252234503-e356532cafd5.jpeg" alt="">
          </div>
       </div>
    </div>
  </body>
 
</html>
