<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
   <div class="login_Container">
     <div class="login_Container_Wrapper">
        <div class="login_Container_Wrapper-Box">
            <div class="login_Container_Wrapper_Box-userHeading">
                <div class="login_Container_Wrapper_Box_userheading-Logo">
                     <img src="../images/1_psYl0y9DUzZWtHzFJLIvTw-removebg-preview.png" alt="">
                </div>
                <h3>Dev Community</h3>
            </div>
            <div class="login_Container_Wrapper_Box-form">
                <form action="/login" id="form" method="post">
                    <input type="text" name="username" placeholder="Enter the username" id="">
                    <input type="text" name="password"  placeholder="Enter the password" id="" >
                    <button>Log In</button>
                </form>
            </div>
        </div>
     </div>
   </div>
</body>
</html>