<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="register_Container">
        <div class="register_Container-Wrapper">
           <div class="register_Container_Wrapper-registerForm">
               <div class="register_Container_Wrapper-registerForm-logoSection">
                   <div class="register_Container_Wrapper_registerForm_logo">
                      <img src="../images/1_psYl0y9DUzZWtHzFJLIvTw-removebg-preview.png" alt="">
                   </div>
                   <h3>Dev Community</h3>
               </div>
               <div class="register_Container_Wrapper_registerForm-form">
                  <form action="/register" id="form" method="post">
                       <input type="text" name="username" id="" placeholder="Enter your username" required>
                       <input type="text" name="fullname" id="" placeholder="Enter your fullname" required>
                       <input type="email" name="email" id="" placeholder="Enter your email" required>
                       <input type="text" name="password" id="" placeholder="Enter your password" required>
                       <button>Register</button>
                  </form>
               </div>
           </div>
        </div>
    </div>
</body>
</html>